#scrollTopBtn {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99; /* Make sure it stays on top */
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    transition: opacity 0.3s;
}

#scrollTopBtn:hover {
    background-color: #333;
}
