.strength-bar {
  height: 8px;
  width: 90%;
  background-color: #e0e0e0;
  margin-top: 5px;
  border-radius: 40px; /* Soft rounded corners */
  overflow: hidden; /* Ensures that the rounded corners are maintained inside the bar */
}

.strength-bar span {
  display: block;
  height: 100%;
  transition: width 0.5s ease-in-out;
  border-radius: 20px; /* Ensure the inner bar has rounded corners */
  text-align: center;
  line-height: 7px;  /* Vertically center the text */
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.strength-weak {
  background-color: #ff4d4d;
  width: 25%;
}

.strength-medium {
  background-color: #ffcc00;
  width: 50%;
}

.strength-strong {
  background-color: #66cc66;
  width: 75%;
}

.strength-very-strong {
  background-color: #4caf50;
  width: 100%;
}

.strength-text {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}
